<%= form_for(@station) do |f| %>
  <% if @station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% @station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :aetitle %><br>
    <%= f.text_field :aetitle %>
  </div>
  <div class="field">
    <%= f.label :modality %><br>
    <%= f.collection_select :modality_id, Modality.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :receives_orders_via_hl7 %><br>
    <%= f.check_box :receives_orders_via_hl7 %>
  </div>
  <div class="field">
    <%= f.label :character_set %><br>
    <%= f.select :character_set, Station.character_sets.keys %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
