<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @station.name %>
</p>

<p>
  <strong>Modality:</strong>
  <%= @station.modality %>
</p>

<p>
  <strong>Aetitle:</strong>
  <%= @station.aetitle %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
