<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @station.name %>
</p>

<p>
  <strong>
    <%= @station.class.human_attribute_name(:modality) %>
  </strong>
  <%= @station.modality %>
</p>

<p>
  <strong>Aetitle:</strong>
  <%= @station.aetitle %>
</p>

<p>
  <strong>
    <%= @station.class.human_attribute_name(:receives_orders_via_hl7) %>
  </strong>
  <%= @station.receives_orders_via_hl7 %>
</p>

<p>
  <strong>
    <%= @station.class.human_attribute_name(:character_set) %>
  </strong>
  <%= @station.character_set %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
