<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.text_field :patient_id %>
  </div>
  <div class="field">
    <%= f.label :patients_name %><br>
    <%= f.text_field :patients_name %>
  </div>
  <div class="field">
    <%= f.label :patients_birth_date %><br>
    <%# f.date_select :patients_birth_date %>
    <%= f.text_field :patients_birth_date %>
  </div>
  <div class="field">
    <%= f.label(:patients_sex) %><br>
    <%= f.radio_button(:patients_sex, 'M') %>
    <%= f.label(:patients_sex, 'männlich', value: 'M') %>
    <%= f.radio_button(:patients_sex, 'F') %>
    <%= f.label(:patients_sex, 'weiblich', value: 'F') %>
  </div>
  <div class="field">
    <%= f.label :requested_procedure_description %><br>
    <%= f.text_field :requested_procedure_description %>
  </div>
  <div class="field">
    <%= f.label :referring_physicians_name %><br>
    <%= f.text_field :referring_physicians_name %>
  </div>
  <div class="field">
    <%= f.label :requesting_physicians_name %><br>
    <%= f.text_field :requesting_physicians_name %>
  </div>
  <div class="field">
    <%= f.label :station_id %><br>
    <%= f.select :station_id, Station.all.collect { |s| [ s.name, s.id ] }, {include_blank: true} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
