<p id="notice"><%= notice %></p>

<p>
  <strong>Accession number:</strong>
  <%= @order.accession_number %>
</p>

<p>
  <strong>Referring physicians name:</strong>
  <%= @order.referring_physicians_name %>
</p>

<p>
  <strong>Patients name:</strong>
  <%= @order.patients_name %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @order.patient_id %>
</p>

<p>
  <strong>Patients birth date:</strong>
  <%= @order.patients_birth_date %>
</p>

<p>
  <strong>Patients sex:</strong>
  <%= @order.patients_sex %>
</p>

<p>
  <strong>Study instance uid:</strong>
  <%= @order.study_instance_uid %>
</p>

<p>
  <strong>Requested procedure description:</strong>
  <%= @order.requested_procedure_description %>
</p>



<%# link_to 'Edit', edit_order_path(@order) %>
<%# link_to 'Back', orders_path %>
<%= link_to 'Noch ein neuer Auftrag?', new_order_path %>
