<!DOCTYPE html>
<html>
<head>
  <title>Mowoli</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
    <nav class='navbar navbar-default'>
      <div id='navbar' class='navbar-collapse collapse'>
        <ul class='nav navbar-nav navbar-left'>
          <li>
            <%= link_to 'Orders', orders_path %>
          </li>
          <li>
            <%= link_to 'Stations', stations_path %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-xs-12">
        <%= bootstrap_flash %>
      </div>
    </div>
  <%= yield %>
</div>

</body>
</html>
